@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

h1, p, * {
    font-family: "Poppins", sans-serif;
  }
  
  html {
    background:#7bdaf3;
  }
  
  body {
    background: white;
    font-family: "Poppins", sans-serif;;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  .note {
    border-bottom: 1px solid #aaa;
    padding: 15px;
  }
  
  input[type=text] {
    width: 80%;
    background: #fefefe;
    border-radius: 4px;
    padding: 10px 8px;
    border: 1px solid #444;
    font-size: 20px;
  }
  
  button {
    background: #9ec862;
    border-radius: 4px;
    padding: 10px 8px;
    border: 1px solid #444;
    font-size: 18px;
    cursor: pointer;
  }